In [53]:
import pandas as pd

In [54]:
stable_coins = ['USDT', 'USDC', 'DAI', 'BUSD', 'SUSD']

In [55]:
def get_stable_coin(pair1, pair2):
    if pair1 in stable_coins:
        return pair1
    elif pair2 in stable_coins:
        return pair2
    else:
        return'NA'

In [101]:
farm_df = pd.read_csv("farming_data_cmc_new.csv", index_col=0)
liquidty_folio_df = pd.read_csv("uniswap_liquidityfolio_data.csv", index_col=0)

In [102]:
farm_df = farm_df[['pair1','pair2','Pool_rate','Where','includes_stablecoin', 'Farm payment']]

In [103]:
liquidty_folio_df = liquidty_folio_df[['pair1','pair2','Pool_rate','Where','includes_stablecoin', 'Farm payment']]

In [104]:
liquidty_folio_df

     pair1  pair2     Pool_rate     Where  includes_stablecoin  Farm payment
0     YYFI    DAI      0.000000  balancer                 True           NaN
1      ETH   WBTC  21113.498067  balancer                False           NaN
2      ETH    BAL  11017.324142  balancer                False           NaN
3      ETH    VSP     86.490145  balancer                False           NaN
4      ETH    DAI  12969.162298  balancer                 True           NaN
..     ...    ...           ...       ...                  ...           ...
856    ETH    ETH      0.000000   Uniswap                False           NaN
857    BPF    BPF      0.000000   Uniswap                False           NaN
858    BPF    BPF      0.000000   Uniswap                False           NaN
859    BPF    BPF      0.000000   Uniswap                False           NaN
860  LEASH  LEASH      0.000000   Uniswap                False           NaN

[1219 rows x 6 columns]

In [105]:
farm_df

    pair1 pair2  Pool_rate          Where  includes_stablecoin Farm payment
0    CAKE   NaN    87.4278    PancakeSwap                False         CAKE
1    BUSD  WBNB  1433.8209    PancakeSwap                 True         CAKE
2    CAKE  WBNB  6536.3423    PancakeSwap                False         CAKE
3     ETH   BNB   804.9839    PancakeSwap                False         CAKE
4    USDT  BUSD   498.4875    PancakeSwap                 True         CAKE
..    ...   ...        ...            ...                  ...          ...
109   DAI  PERL   142.0428     Perlin,BAL                 True         PERL
110   BAL  PERL   113.6272     Perlin,BAL                False         PERL
111   MIC  USDT     3.4576  Mithril Share                 True          MIS
112   MIS  USDT     4.5064  Mithril Share                 True          MIS
113   SFG   DAI   503.8741      S.Finance                 True          SFG

[114 rows x 6 columns]

In [106]:
merged_df = farm_df.append(liquidty_folio_df)
merged_df

     pair1  pair2  Pool_rate        Where  includes_stablecoin Farm payment
0     CAKE    NaN    87.4278  PancakeSwap                False         CAKE
1     BUSD   WBNB  1433.8209  PancakeSwap                 True         CAKE
2     CAKE   WBNB  6536.3423  PancakeSwap                False         CAKE
3      ETH    BNB   804.9839  PancakeSwap                False         CAKE
4     USDT   BUSD   498.4875  PancakeSwap                 True         CAKE
..     ...    ...        ...          ...                  ...          ...
856    ETH    ETH     0.0000      Uniswap                False          NaN
857    BPF    BPF     0.0000      Uniswap                False          NaN
858    BPF    BPF     0.0000      Uniswap                False          NaN
859    BPF    BPF     0.0000      Uniswap                False          NaN
860  LEASH  LEASH     0.0000      Uniswap                False          NaN

[1333 rows x 6 columns]

#### will filter out all the pairs from farm amd folio for symbol ETH

In [107]:
defi_symbol = 'ETH'

In [108]:
merged_eth_df = merged_df[(merged_df['pair1'] == defi_symbol) | (merged_df['pair2'] == defi_symbol)].copy().reset_index(drop=True)

In [109]:
merged_eth_df

     pair1 pair2  Pool_rate        Where  includes_stablecoin Farm payment
0      ETH   BNB   804.9839  PancakeSwap                False         CAKE
1     vETH   ETH     2.2100        Venus                False          XVS
2    SUSHI   ETH    31.1309    SushiSwap                False        SUSHI
3     USDC   ETH    32.7981    SushiSwap                 True        SUSHI
4      DAI   ETH    37.4375    SushiSwap                 True        SUSHI
..     ...   ...        ...          ...                  ...          ...
936    ETH   ETH     0.0000      Uniswap                False          NaN
937    ETH   ETH     0.0000      Uniswap                False          NaN
938    ETH   ETH     0.0000      Uniswap                False          NaN
939    ETH   ETH     0.0000      Uniswap                False          NaN
940    ETH   ETH     0.0000      Uniswap                False          NaN

[941 rows x 6 columns]

#### will extract data for 4 different scenario

### 1. [highest stabecoin pool rate, stablecoin symbol, where]

df[(df.includes_stablecoin == True) & (df.Farm_payment.isnull()) # has stablecoin and is a pool, not a farm since it doesn't contain a Farm payment

In [110]:
scenario_1 = merged_eth_df[(merged_eth_df['includes_stablecoin'] == True ) & (merged_eth_df['Farm payment'].isnull())].sort_values(['Pool_rate']).iloc[-1]
stable_coin = get_stable_coin(scenario_1['pair1'], scenario_1['pair2'])
scenario_1_data = [scenario_1['Pool_rate'], stable_coin, scenario_1['Where']]
scenario_1_data

[13007.01864175114, 'USDC', 'balancer']

### [highest non-stablecoin pool rate, non-stablecoin symbol, where]
df[(df.includes_stablecoin == False) & (df.Farm_payment.isnull()) # does not have stablecoin and is a pool, not a farm since it doesn't contain a Farm payment

In [111]:
scenario_2 = merged_eth_df[(merged_eth_df['includes_stablecoin'] == False ) & (merged_eth_df['Farm payment'].isnull())].sort_values(['Pool_rate']).iloc[-1]
stable_coin = get_stable_coin(scenario_2['pair1'], scenario_2['pair2'])
scenario_2_data = [scenario_2['Pool_rate'], stable_coin, scenario_2['Where']]
scenario_2_data

[21113.49806686553, 'NA', 'balancer']

### [highest farm stablecoin rate, stablecoin symbol, where, farm payment]
df[(df.includes_stablecoin == True) & (df.Farm_payment is not None) # has stablecoin and is a farm, not a pool since it contain a Farm payment

In [112]:
scenario_3 = merged_eth_df[(merged_eth_df['includes_stablecoin'] == True ) & (merged_eth_df['Farm payment'].notnull())].sort_values(['Pool_rate']).iloc[-1]
stable_coin = get_stable_coin(scenario_3['pair1'], scenario_3['pair2'])
scenario_3_data = [scenario_3['Pool_rate'], stable_coin, scenario_3['Where'], scenario_3['Farm payment']]
scenario_3_data

[39.799, 'SUSD', 'SushiSwap', 'SUSHI']

### [highest farm non-stablecoin rate, non-stablecoin symbol, where, farm payment]
df[(df.includes_stablecoin == False) & (df.Farm_payment is not None) # does not have stablecoin and is a farm, not a pool since it contain a Farm payment

In [113]:
scenario_4 = merged_eth_df[(merged_eth_df['includes_stablecoin'] == False ) & (merged_eth_df['Farm payment'].notnull())].sort_values(['Pool_rate']).iloc[-1]
stable_coin = get_stable_coin(scenario_4['pair1'], scenario_4['pair2'])
scenario_4_data = [scenario_4['Pool_rate'], stable_coin, scenario_4['Where'], scenario_4['Farm payment']]
scenario_4_data

[804.9839, 'NA', 'PancakeSwap', 'CAKE']