In [1]:
import pandas as pd

In [32]:
def update_apr(apr):
    apr = f"{apr}".replace("%", "").replace("+", "").replace("-", "").replace(",", "").replace("$", "")
    if len(apr) == 0 or "nan" == apr:
        return np.nan
    else:
        return apr

In [24]:
p_df = pd.read_csv("scrapped/Pangolin.csv")
p_df = p_df[['pair', 'liquidity', '1yr_fees/liquidity']]
p_df.columns = ['pair', 'tvl', 'apr']
p_df['where'] = 'Pangolin'
q_df = pd.read_csv("scrapped/QuickSwap.csv")
q_df = q_df[['pair', 'liquidity', '1yr_fees/liquidity']]
q_df.columns = ['pair', 'tvl', 'apr']
q_df['where'] = 'QuickSwap'
t_df = pd.read_csv("scrapped/TraderJoe.csv")
t_df = t_df[['pair', 'liquidity', 'apr']]
t_df.columns = ['pair', 'tvl', 'apr']
t_df['where'] = 'TraderJoe'
df = p_df.append(q_df)
df = df.append(t_df).reset_index(drop=True)
df['network'] = 'ETH'

In [47]:
df['apr'] = df['apr'].apply(lambda x: update_apr(x))
df['tvl'] = df['tvl'].apply(lambda x: update_apr(x))
df[['pair1', 'pair2']]=df.pair.str.split("-", expand=True)
del df['pair']

In [48]:
df

           tvl    apr      where network   pair1  pair2
0    187696956  11.01   Pangolin     ETH     PNG  WAVAX
1     50915377  94.00   Pangolin     ETH  WETH.e  WAVAX
2     41292652  55.20   Pangolin     ETH      QI  WAVAX
3     11865020   6.97   Pangolin     ETH   WAVAX    ETH
4     11393745  36.98   Pangolin     ETH   WAVAX   XAVA
..         ...    ...        ...     ...     ...    ...
365      0.00      0   TraderJoe     ETH     PNG    DAI
366      0.00      0   TraderJoe     ETH  DALTON  WAVAX
367      0.00      0   TraderJoe     ETH    shit  WAVAX
368      0.00      0   TraderJoe     ETH     PNG   XAVA
369      0.00      0   TraderJoe     ETH    AVME  WAVAX

[370 rows x 6 columns]

In [50]:
df.to_csv('scrapped_pairs.csv', index=False)